body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color:rgb(22, 53, 177);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    color: white;
    background-color: rgba(22, 54, 177, 0.2);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding: 20px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 35px;
    border: 2px inset rgba(74,212,36, 0.99);
    background-color: rgba(74,212,36, 0.99);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(74,212,36, 0.75);
    border: 2px inset rgba(74,212,36, 0.75);
}
button:active{
    background-color: rgba(74,212,36, 0.2);
    border: 2px inset rgba(74,212,36, 0.2);
}
.operator-btn{
    background-color: rgba(204,67,236, 0.99);
    border: 2px inset rgba(204,67,236, 0.99);
}
.operator-btn:hover{
    background-color: rgba(204,67,236, 0.75);
    border: 2px inset rgba(204,67,236, 0.75);
}
.operator-btn:active{
    background-color: rgba(204,67,236, 0.2);
    border: 2px inset rgba(204,67,236, 0.2);
}
